<div class="box3">
    <div class="d_flex  f_ai_c p_lf_15 f_g20  w_274 h_118 m_w_100">
    <div class="left-box">
        <a href="#">
            <img src="<%- data.icon  %>" class="w_60 h_60">
            </a>
        </div>
        <div class="right-box w_50 m_w_100">
        <a href="#">
            <h5 class="c_white f_23"><%- data.label %></h5>
        </a>
    </div>
    </div>
</div>