<div class="icon-box t_cen">
    <div class="icon d_block mb_20">
        <i class="icon-linkedin f_40"></i>
    </div> 
    <label class="d_block mb_16 f_18 roboto_bold">Worldwide Shipping</label>
    <span class="d_block c_333">Get Free shipping over $65.</span>
</div>