<div class="bc_fbfbfb p_tb40 d_flex f_ai_c f_jc_c">
    <div class="bc_c_white p_tb40 s_box_onl w_80 f_jc_c b_r6">
      
    <div class="p_lf">
      <div class="header mb_40 t_cen">
        <h2 class="mb_5 f_37 roboto_bold ">Share Your Story with the World</h2>
        <p class="f_20 c_gray">
            One video. Endless possibilities. Start your journey.
        </p>
        </div>
        <div class="form d_flex f_jc_c">
        <form class="mb_20">
          <label class="d_block mb_5 f_21 ">Title</label>
          <input type="text"placeholder="Your Video Title"class="mb_20 b_r6 w_450 p_12 f_ai_c b_b b_h_333"/>
          <label class="d_block mb_5 f_21 ">Category</label>
          <input type="text" placeholder="Education"class="mb_20  b_r6 w_450 p_12 f_ai_c b_b b_h_333"/>
          <label class="d_block mb_5 f_21">Video Thumbnail</label>
          <input type="text"placeholder="Upload video thumbnail"class="mb_20 w_450 b_r6 p_12 f_ai_c b_b b_h_333"/>
          <label class="d_block mb_5 f_21">Video URL</label>
          <input type="url" placeholder="http/youtube.com/"class="mb_20 w_450 b_r6 p_12 f_ai_c b_b b_h_333"/>
          <label class="d_block mb_5 f_21">ABCD</label>
          <input type="text"placeholder="ABCD"class="mb_20  b_r6 p_12 w_450 f_ai_c b_b b_h_333"/>
          <label class="d_block mb_5 f_21">Description</label>
          <input type="text" placeholder="Briefly describe your video"class="mb_20 w_450 b_r6 p_12 f_ai_c b_b b_h_333"/>
        </form>

        </div>
        </div>
        <div class="t_cen">
        <button class="b_n p_tb24 b_cur b_r30 f_16 t_upper c_white bc_c_aaa mb_30 w_450 t_cen cur_p">upload video</button>
    </div>
          </div>
          
      </div>
      </div>
    </div>
  </div>
  </div>
    