<div class="card w_262 h_254 d_flex f_d_c f_ai_c  f_jc_c c_white ">
    <img src="<%- data.icon %>" alt="" class="W_100 h_100 mb_16">
    <div class="tittle f_24 roboto_bold"><%- data.label %></div>
    <div class="subtitle f_14">View Snippets</div>
</div>