<div class="<%- data.className %> card b_r16 s_box_onl w_262 m_w_100 h_254 d_flex f_d_c f_ai_c  f_jc_c c_white">
    <a href="<%- data.url  %>" class="t_cen c_white c_h_white">
    <img src="<%- data.icon %>" alt="" class="w_70 h_70 mb_16">
    <div class="tittle f_22 roboto_bold mb_16"><%- data.label %></div>
    <button class="b_n f_13 cur_p bac_tra c_white t_upper ">view code</button></a>
    </a>
</div>
