<div class="card w_262 h_254 d_flex f_d_c f_ai_c  f_jc_c c_white ">
    <img src="<%- data.icon %>" alt="" class="w_70 h_70 mb_16">
    <div class="tittle f_22 roboto_bold mb_16"><%- data.label %></div>
    <div class="subtitle f_14">View Snippets</div>
</div>