<h1>aboutdfdffs</h1>

<% if (device.isMobile) { %>
    <p>This is a mobile device.</p>
  <% } %>
  
  <% if (device.isTablet) { %>
    <p>This is a tablet device.</p>
  <% } %>
  
  <% if (device.isDesktop) { %>
    <p>This is a desktop device.</p>
  <% } %>