<div class="bc_eee t_cen  p_tb40">
    <a href="#">
        <img src="/public/images/excel.png" alt="">
        <h5>MS Excel</h5>
        <p>Duration : 1 Month</p>
    </a>
    <button>View course</button>
</div>