<div class="card w_170 h_250 p_20 bc_white b_r15 box_sha tra_r tran d_flex f_ai_c f_jc_c f_d_c ">
    <a href="#" class="t_cen">
        <img src="<%- data.icon  %>" class="h_70 w_70 mb_16" >
    <div class="label mb_10 f_15 c_333 mb_30"><%- data.label  %></div>
    <button class="but_bc b_n b_r20 f_13 cur_p p_tb10 t_upper">view code</button></a>
</div>
