<div class="card w_170 h_250 p_20 bc_white b_r15 s_box_onl d_flex f_ai_c f_jc_c f_d_c ">
    <div class="inner-shadow-box w_70 h_70 bc_white  s_box_in b_b_434343 t_cen mb_30"></div>
    <img src="/images/drop.png" class="h_70 w_70" >
    <div class="label mb_10 f_15 c_333 mb_30"><%- data.label  %></div>
    <button class="bc_c_aaa b_n b_r20 f_13 cur_p p_tb10 t_upper">view code</button>
</div>
