<div class="box1">
    <div class="c_purple h_40vh d_flex f_jc_c f_ai_c b_r16 bc_h_d8c5f8 m_b_22">
        <a href="#" class="c_white c_h_white">
            <img src="<%- data.icon %>" class="mb_5">
            <h3 class="f_20 mb_3 t_cen" ><%- data.label %></h3>
            <p class="t_upper f_14 t_cen">3 Months Duration</p>
        </a>
    </div>
</div>