
    <div class="c_purple t_cen d_block b_r16 w_90">
        <a href="#" class="c_white">
            <img src="/images/graphic.png" alt="">
            <h3>Graphic Designing</h3>
            <p class="t_upper">3 Months Duration</p>
        </a>
    </div>
