<div class="home">
    <div class="container"> 
        
        <div class=".bc_eee">
            <%- include('../../components/plan-card/plan-card') %>
        </div>
        <div class="bc_purple">
            <%- include('../../components/color-card/color-card') %>
        </div>
    </div>
</div>