<div class="home">
  <div class="container">
    <div class="box1">
      <%- include('../../components/plan-card/plan-card') %>
    <!-- First Section -->
    <div class="mb_90 pt_60 pb_60 bc_white">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333">Thousand of career oriented courses available here</h2>
        </div>
    </div>
    <!-- Second Section -->
    <div class="mb_90 pt_60 pb_60 bc_eee">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333">Microsoft Technologies Tutorials</h2>
        </div>
    </div>
     <!-- Third Section -->
     <div class="mb_90 pt_60 pb_60 bc_white">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333">Microsoft Technologies Tutorials</h2>
        </div>
    </div>
    <!-- Second Last Section -->
    <div class="mb_90 pt_60 pb_60 bc_eee">
        <div class="container">
            <h2 class="mb_12 f_36 t_cen roboto_regular c_333">Web & Graphic Design Tutorial</h2>
        </div>
    </div>
    <!-- Last Section -->
    <div class="mb_90">
        <div class="container t_cen">
            <h2 class="mb_12 f_36">The world's largest Hindi & English Course Platform</h2>
            <p class="mb_30 f_18 c_646">Choose from over 80,000 online video courses with new additions published every
                month</p>
            <div class="d_in_block">
                <a href="#" class="d_flex f_ai_c b_r40 h_50 pl_30 pr_30 bc_primary c_white c_h_white">JOIN NOW</a>
            </div>
        </div>
    </div>
    <div class="box2">
      <%- include('../../components/color-card/color-card') %>
    </div>
    <div class="box3">
        <%- include('../../components/card1/card1') %>
    </div>
  </div>
</div>
