<div class="home">
    <!---first section-->
    <div class="bc_white">
        <div class="container">
            <h2 class="f_36 mb_40 t_cen c_333 "><%- pageData?.hero_banner?.heading %></h2>
            <div class="d_flex f_jc_c f_g30 f_ai_c mb_60">
                <% for (item of pageData?.hero_banner?.hero_links) { %>
                    <div class="">
                        <%-include('../../components/card2/card2', {data:item})  %>
                  </div>
                <% } %>  
           </div>
           <div class="card1 d_flex f_jc_c f_g40">
            <% for (item of pageData?.hero_banner?.top_cards) { %>
                  <div class="main_card wp_20 b_r16">
                    <%- include('../../components/home2card/home2card', {data:item}) %>
                </div>
              <% } %>
            </div>
        </div>
    </div>
    
</div>