<div class="bc_f9f9f9 t_cen p_40 m_0">
    <h1 class="mb_50 f_40">Button snippets</h1>
    <div class="d_flex f_w f_jc_c f_g20 p_40">
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s bc_4f46e5 c_white">Get started</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s bac_tra c_black b_22">Sign up</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">Explore now</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">TRY IT</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">BUTTON</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s"><span>&uarr;</span>Publish</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">MESSAGE</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">Get it</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">done!</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s"> <b>Free Trial</b> Get started</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">Get in touch</button>
        <button class="p_lf12 b_n cur_p f_16 b_r6 t_s">Get it a try</button>
       
    </div>
</div>
