<div class=" t_cen p_40 m_0">
    <h1 class="mb_50 c_0a0a23 f_60"><span class="gradient">Essential</span> Button snippets<br> <span class="gradient">for Developers</span></h1>
    <div class="grid d_grid grid_tem_col f_g100 f_jc_c p_lr60 mb_90">
        <div class="first-card w_260 h_200 c_f3f3f3 d_flex f_jc_c f_ai_c b_r12 f_d_c f_g80 p_rel">
               <a href="#" class="p_lf20 b_n f_16 b_r6 t_s bc_4f46e5 c_white ">Get started</a>
             <div class="white-card d_flex f_ai_c f_g10 p_abs p_top_bot">
                <span class="d_flex f_ai_c f_g5 f_9 c_black"><img src="/images/code.png" class="w_18 h_18"> Copy Code</span>
                <span class="d_flex f_ai_c f_g5 f_9 c_black"><img src="/images/video_icon.png" class="w_18 h_18"> View Video</span>
             </div>
        </div>
        <a href="#" class="f_16 b_r6 t_s bac_tra  c_black b_22">Sign up</a>
        <a class="p_lf12 f_16 b_r6 t_s">Explore now</a>
        <a class="p_lf12 f_16 b_r6 t_s">TRY IT</a>
        <a class="p_lf12 f_16 b_r6 t_s">BUTTON</a>
        <a class="p_lf12 f_16 b_r6 t_s"><span>&uarr;</span>Publish</a>
        <a class="p_lf12 f_16 b_r6 t_s">MESSAGE</a>
        <a class="p_lf12 f_16 b_r6 t_s">Get it</a>
        <a class="p_lf12 f_16 b_r6 t_s">done!</a>
        <a class="p_lf12 f_16 b_r6 t_s"> <b>Free Trial</b> Get started</a>
        <a class="p_lf12 f_16 b_r6 t_s">Get in touch</a>
        <a class="p_lf12 f_16 b_r6 t_s">Get it a try</a>
       
    </div>
</div>
