
    <div class="c_f3f3f3 b_r12 t_cen  h_42vh d_flex f_ai_c f_jc_c m_b_22 b_none">
        <a href="#">
            <img src="<%- data.icon  %>" class="m_b_22">
            <h5 class="c_4caf50 f_19"><%- data.label %></h5>
            <p class="f_14 m_b_22 ">Duration : 1 Month</p>
            <button class="c_dddddd p_tb7 b_r20 t_upper c_h_white c_h_0072c6 ">View course</button>
        </a>
    </div>
    