<div class="bc_fbfbfb  d_flex f_jc_c p_tb40 ">
<div class=" d_flex f_jc_c f_g40 f_ai_c w_100 m_w_900 bc_c_white p_tb40">
   <div class="left-content">
            <img src="/images/logo.jpg" class="w_100">
        </div>
        <div class="h_300 w_1 c_e0e0e0 "></div>
    <div class="right-side ">
        <div class=" f_14 m_b_22 d_flex f_jc_e f_ai_c f_g15 c_gray">
            Already have an account? <a href="#" class="b_b p_tb6 b_r20 c_333 m_l">SIGN IN</a>
        </div>
        <h2 class="mb_5 f_24 roboto_bold">Welcome to Vidyamath.com</h2>
        <p class="mb_30 f_14 c_gray"> Register your account</p>
        <form class="mb_20">
            <label class="d_block mb_5 f_14 ">Name</label>
            <input type="text" placeholder="Enter your name" class="mb_20 w_100 b_r6 p_12 f_ai_c b_b b_h_333">
            <label class="d_block mb_5 f_14" >Email</label>
            <input type="email" placeholder="Enter your Email" class="mb_20 w_100 b_r6 p_12 f_ai_c b_b b_h_333">
            <label class="d_block mb_5 f_14">Your Interest</label>
            <input type="interest" placeholder="Enter your Interest" class="mb_20 w_100 b_r6 p_12 f_ai_c b_b b_h_333">
        </form>
        <div class="b_n p_tb24 b_cur b_r30 f_16 t_upper c_white bc_c_aaa mb_30 d_in_block">Register</div>
        <div class="f_14 c_gray d_flex f_ai_c f_g15">
           Create account with
           <div class="search d_flex f_ai_c f_jc_c mr_10 w_34 h_34 b_r50 cur_p bc_c_0072c6 y c_white">
            <i class="icon-facebook f_16"></i>
        </div>
        
            <div class="login_register d_flex f_ai_c f_jc_c w_34 h_34 b_r50 cur_p  bc_c_1DA1F2 c_white">
                <i class="icon-twitter f_16"></i>
                </div>
                <div class="login_register d_flex f_ai_c f_jc_c w_34 h_34 b_r50 cur_p ">
                    <i class="icon-google f_16"></i>
                    </div>
    </div>
</div>
</div>