<div class="form d_flex f_jc_c f_g40 f_ai_c">
    <div class="left-side  b_rig">
        <img src="/images/logo.jpg" alt="">
    </div>
    <div class="right-side ">
        <div class="top d_flex f_ai_c f_jc_e f_g20 mb_20">
            <p class="f_14">Already have an account?</p>
            <button class="b_r40 t_upper b_b">Sign in</button>
        </div>
        <h2 class="mb_3">Welcome to Vidyamath.com</h2>
        <p class="mb_20 f_14 c_333"> Register your account</p>
        <form class="mb_20">
            <label class="d_block m_b_10 f_14">Name</label>
            <input type="text" placeholder="Enter your name" class="mb_12 w_100 b_r5 p_tb7 f_ai_c b_b">
            <label class="d_block m_b_10 f_14" >Email</label>
            <input type="email" placeholder="Enter your Email" class="mb_12 w_100 b_r5 p_tb7 f_ai_c b_b">
            <label class="d_block m_b_10 f_14">Your Interest</label>
            <input type="text" placeholder="Enter your Interest" class="mb_12 w_100 b_r5 p_tb7 f_ai_c b_b">
        </form>
        <button class="b_n p_tb7 b_r20 f_14 t_upper c_white bc_c_9b9 m_b_22">Register</button>
        <div class="bottom">
            <p>Create account with</p>
            <ul>
                <li></li>
            </ul>
        </div>
    </div>
</div>