<div class="box3">
    <div class="d_flex c_purple f_ai_c f_jc_c h_30vh b_r20 f_g20">
    <div class="left-box">
        <a href="#">
            <img src="<%- data.icon  %>">
            </a>
        </div>
        <div class="right-box">
        <a href="#">
            <h5 class="c_white f_19 mb_3"><%- data.label %></h5>
            <p class="f_14  c_white ">Duration : 2 Months</p>
            
        </a>
    </div>
    </div>
</div>