<div class="hero_menu">
    <div class="pt_16 pb_16 pl_20 pr_20 bc_primary c_white roboto_bold b_rt f_16 t_upper">Print By Categories</div>
    <div class="menu">
        <ul class="s_box">
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Documents</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Books</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Thesis Dissertation</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Certificate & Cards</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Marketing Materials</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Posters</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Flyers Or Leaflets</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Leaterhead & Stationary</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Visiting Cards</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Business Stationary</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Personalised Gifts</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Stickers and Lebels</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20 b_b1_c">Document Binding</a></li>
            <li><a href="" class="pt_12 pb_12 pl_20 pr_20">All Products</a></li>
        </ul>
    </div>
</div>