@use 'variables' as var;
@use 'mixins' as m;

/************************

   f_ : flex
   w_ : width
   h_ : height
   c_ : color
   bc_ : background color
   b_ : border
   m_ : margin
   s_ :shadow
   t_ : text
   p_ : position


*************************/


/* Flex */

.d_block{
    display: block;
}
.d_in_block{
    display: inline-block;
}

.d_flex{
    display: flex;
}
.d_grid{
    display: grid;
}
.grid_tem_col{
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
}
.f_ai_c{
    align-items: center;
}
.f_jc_sb{
    justify-content:space-between;
}
.f_jc_c{
    justify-content:center;
}
.f_jc_e{
    justify-content: flex-end;
}
.f_jc_s
{
    justify-content: stretch;
}
.f_as_s
{
    align-self: stretch;
}
.f_d_c{
    flex-direction: column;
}
.f_d_r{
    flex-direction: row;
}
.fl_1{
    flex: 1;
}
.fl_2{
    flex: 2;
}
.f_l{
   float: left;
}
.f_g5{
    gap: 5px;
}
.f_g10{
    gap: 10px;
}
.f_g15{
    gap: 15px;
}
.f_g20{
    gap: 20px;
}
.f_g30{
    gap: 30px;
}
.f_g26{
    gap: 26px;
}
.f_g40{
    gap: 40px;
}
.f_g50{
    gap: 50px;
}
.f_g80{
    gap: 80px;
}









/* color */

.c_eee{
    color: var.$c_eee;
}

.c_646{
    color: var.$c_646;
}

.c_333{
    color: var.$c_333;
}

.c_white{
    color: var.$c_white;
}

.c_9b9{
    color: var.$c_9b9;
}
.c_666{
    color: var.$c_666;
}

.c_black{
    color: var.$c_black;
}
.c_4caf50{
    color: var.$c_4caf50;
}
.c_gray{
    color: var.$c_gray;
}
.c_red{
    color: red;
}
.c_0072c6{
    color: var.$c_0072c6;
}
.c_h_primary{
    &:hover{
        color: var.$primary;
    }
}
.c_h_white{
    &:hover{
        color: var.$c_white;
    }
}
.c_h_black{
    &:hover{
        color: var.$c_black;
    }
}
.c_h_purple{
    &:hover{
        color: var.$c_purple;
    }
}

/* background color */
.bac_tra{
    background: transparent;
}
.bc_eee{
    background: var.$c_eee;
}
.bc_c_black{
    background: var.$c_black;
}
.bc_f9f{
    background: var.$c_f9f;
}

.bc_f4f{
    background: var.$c_f4f;
}
.bc_primary{
    background: var.$primary;
}
.bc_ff8f49{
    background: var.$c_ff8f49;
}
.c_purple{
    background: var.$c_purple;
}
.c_f3f3f3{
    background: var.$c_f3f3f3;
}
.c_dddddd{
    background: var.$c_dddddd;
}
.c_e0e0e0{
    background: var.$c_e0e0e0;
}
.bc_fbfbfb{
    background: var.$c_fbfbfb;
}
.bc_c_9b9{
    background: var.$c_9b9;
}
.bc_c_white{
    background: var.$c_white;
}
.bc_c_aaa{
    background: var.$c_aaa;
}
.bc_c_0072c6{
    background: var.$c_0072c6;
}
.bc_c_1DA1F2{
    background: var.$c_1DA1F2;
}

.bc_h_eee{
    &:hover{
        background: var.$c_eee;
    }
}
.bc_h_primary{
    &:hover{
        background: var.$primary;
    }
}
.bc_h_d8c5f8{
    &:hover{
        background: var.$c_d8c5f8;
    }
}
.c_h_0072c6{
    &:hover{
        background: var.$c_0072c6;
    }
}



/* padding */

.p_tb16 {
    @include m.padding-tb(.8rem); // Top/Bottom: 15px, Left/Right: 0

}
.p_20{
    padding: 20px;
}
.p_40{
    padding: 40px;
}
.p_tb7{
    padding: 7px 15px;
}
.p_tb6{
    padding: 6px 12px;
}
.p_tb10{
    padding: 10px 15px;
}
.p_tb5{
    padding: 5px 15px;
}
.p_tb40{
    padding: 40px;
}
.p_tb24{
    padding: 12px 30px;
}
.p_lf_15{
    padding: 15px 20px;
}
.p_12{
    padding: 12px;
}
.p_lf{
    padding: 0 30px;
}
.p_rig{
    padding-right: 30px;
}
.p_lef{
    padding-left: 40px;
}
.p_tb8{
    padding: 8px 16px;
}
.p_tb_lf{
    padding: 15px 20px;
}
.p_30{
    padding: 30px;
}



/* margin */
.m_0{
    margin: 0;
}
.mb_15{
    margin-bottom: 15px;
}
.m_b_10{
    margin-bottom: 10px;
}

.m_l_auto{
    margin-left: auto;
}
.m_tb_auto{
    margin: auto;
}
.m_b_22{
    margin-bottom: 22px;
}

.m_auto{
    margin: 50px auto;
}

.mb_30{
    margin-bottom: 30px;
}
.mb_50{
    margin-bottom: 50px;
}
.m_tb15{
    margin: 15px 0;
}
.m_0_auto{
    margin: 0 auto 30px;
}
.m_40_auto{
    margin: 0 auto 40px;
}
.m_lr_10{
    margin: 0 10px;
}
.m_tb_20{
    margin: 0 20px;
}
.m_10{
    margin: 0 15px 10px;
}
/* border */

.b_b1_c{
    border-bottom: 1px solid var.$c_eee;
}
.b_n{
    border: none;
}
.b_lef{
    border-left: 1px solid var.$c_eee;
}
.b_left_b{
    border-left: 1px solid var.$c_black;
}
.b_rig{
    border-right: 1px solid var.$c_eee;
}
.b-top{
    border-top: 1px solid #ccc;
}
.b-top_eee{
    border-top: 1px solid #eee;
    margin: 0 10px;
}
.b_b2{
    border-bottom: 2px solid var.$c_ccc;
}
.b_r6{
    border-radius: 6px;
}
.b_b{
    border: 1px solid #ccc;
}
.b_r50{
    border-radius: 50%;
}
.b_r12{
    border-radius: 12px;
}
.b_r20{
    border-radius: 20px;
}
.b_r40{
    border-radius: 40px;
}
.fl_hid{
   overflow: hidden;
}
.b_r16{
    border-radius: 16px;
}
.b_r20{
    border-radius: 20px;
}
.b_r30{
    border-radius: 30px;
}
.b_h_333{
    &:hover{
        border: 1px solid var.$c_333;
    }
}
.b_h_n{
    &:hover{
        border: none;
    }
}
.b_rt_12{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.b_rt{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/*font-style*/
.f_i{
    font-style: italic;
}
/* line-height*/
.l_h{
    line-height: 1.6;
}
.l_1{
    line-height: 1;
}
.l_24{
    line-height: 24px;
}
.l_30{
    line-height: 30px;
}

/* shadow */

.s_box{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.s_box_onl{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* text */

.t_upper{
    text-transform: uppercase;
}
.t_cen{
    text-align: center;
}
.t_rig{
    text-align: right;
}
.t_tra{
    transition: transform 0.3s;
}
.t_tra_bc{
    transition: ease 0.3s;
    &:hover{
        background: var.$c_dddddd;
    }
}

.t_d{
    &:hover{
        text-decoration: underline;
    }
}

/* width */
.w_318{
    width: 318px;
}
.w_240{
    width: 200px;
}
.w_250{
    width: 250px;
}
.w_500{
    width: 500px;
}
.w_130{
    width: 130px;
}
.w_150{
    width: 150px;
}
.w_200{
    width: 200px;
}
.w_100{
    width: 100%;
}
.w_350{
    width: 350px;
}
.w_300{
    width: 300px;
}
.w_50{
    width: 50%;
}
.w_40{
    width: 40%;
}
.w_p_70{
    width: 70%;
}
.m_w_900{
    max-width: 900px;
}
.m_w_1000{
    max-width: 1000px;
}
.m_w_800{
    max-width: 800px;
}
.m_w_520{
    max-width: 520px;
}
.m_w_600{
    max-width: 600px;
}
.m_w_1200{
    max-width: 1200px;
}
.m_w_60{
    max-width: 64%;
}
.w_80{
    width: 80%;
}
.w_1{
    width: 1px;
}
/*transform*/
.t_t{
    transform: translate(-50%, -50%);
}
.t_sc{
    transform: scale(1.02);
}
.t_tran_y_5{
    &:hover{
        transform: translateY(-5px);
    }
    }
    
/* height */
.h_20{
    height: 20px;
}

.h_30vh{
    height: 20vh;
}
.h_40vh{
    height: 40vh;
}
.h_42vh{
    height: 42vh;
}
.h_90vh{
    height: 90vh;
}
.h_100vh{
    height: 100vh;
}
.h_300{
    height: 300px;
}
.h_450{
    height: 450px;
}
.h_140{
    height: 140px;
}
.h_180{
    height: 180px;
    object-fit: cover;
}
/* Position */
.p_rel{
    position: relative;
}
.p_abs{
    position: absolute;
}
.p_cen_cen{
    left: 50%;
    top: 50%;
}
.p_cen_top{
    left: 50%;
    top: 0;
}
.p_top_rig{
    top: 50%;
    right: 15px;
}
.p-top_lef{
    top: 12px;
    left: 50%;
}
.z_ind{
    z-index: 1;
}
.z_ind_0{
    z-index: 0;
}

.aft{
   &::after{
    content: '';
    height: 3px;
    width: 100%;
    background-color: var.$c_black;
    position: absolute;
    bottom: -2px;
    left: 0;
   }
}
