//Variables

//Colors
$c_white:#ffffff;
$primary:#dd1d26;
$c_eee: #eee;
$c_9b9:#9b9b9b;
$c_black:#000;
$c_333:#333;
$c_f9f:#f9f9f9;
$c_f4f:#f4f4f4;
$c_646:#646646;
$c_ff8f49:#ff8f49;
$c_purple:#7e46df;
$c_d8c5f8:#45267c;
$c_f3f3f3: #f3f3f3;
$c_4caf50: #4caf50;
$c_dddddd: #dddddd;
$c_0072c6: #0072c6;