<% if (device.isDesktop) { %>
<div class="term mb_70 ">
    <div class="header t_cen f_18 mb_40">
      <h2 class="f_40">Privacy<span class="c_red"> Policy</span></h2>
      Your privacy, our priority
    </div>
    <div class=" d_flex f_jc_c w_100 ">
        <div class="divider w_1 h_20 bc_c_black mr_10 mt_12"></div>
      <div class="left w_250 b_rig mr_50">
        <ul>
          <li><a href="#part1" class="f_16 m_tb15 cur_p roboto_medium">Effective Date</a></li>
          <li><a href="#part2" class="f_16 m_tb15 cur_p ">Information We Collect</a></li>
          <li><a href="#part3" class="f_16 m_tb15 cur_p">How We Use Your Information</a></li>
          <li><a href="#part4" class="f_16 m_tb15 cur_p">Data Protection</a></li>
          <li><a href="#part5" class="f_16 m_tb15 cur_p">Your Choices</a></li>
          <li><a href="#part6" class="f_16 m_tb15 cur_p">Third-Party Links</a></li>
          <li><a href="#part7" class="f_16 m_tb15 cur_p">Changes to This Policy</a></li>
          <li><a href="#part8" class="f_16 m_tb15 cur_p">Contact Us</a></li>
        </ul>
      </div>
    
        <div class="content w_500 ml_50" >
          <h3 class="f_22 mb_20" id="part1">Effective Date: [Insert Date]</h3>
          <p class="f_16 mb_40">We value your privacy and are committed to protecting your personal information.
             This Privacy Policy explains how we collect, use, and safeguard your data when you interact with our 
             website 
          </p>
          <h3 class="f_22 mb_20" id="part2">Information We Collect</h3>
            <li>Personal details (e.g., name, email) you provide</li>
            <li>Usage data (e.g., browser type, pages visited)</li>
            <li class="mb_40">Cookies and tracking technologies</li>
            <h3 class="f_22 mb_20" id="part3">How We Use Your Information</h3> 
            <li>To provide and improve our services</li> 
            <li>To respond to inquiries or support requests</li> 
            <li class="mb_40">To send updates or marketing communications (with your consent)</li> 
            <h3 class=" f_22 mb_20" id="part4">Data Protection</h3> 
                <p class="f_16 mb_40">We implement appropriate security measures to protect your information from unauthorized access, alteration, disclosure, or destruction.
                </p> 
                 <h3 class="f_22 mb_20" id="part5">Your Choices</h3>
                 <p class="f_16 mb_40">You can opt out of communications, request access to your data, or ask us to delete it at any time.</p> 
                    <h3 class="f_22 mb_20" id="part6">Third-Party Links</h3>
                    <p class="f_16 mb_40">Our site may contain links to external websites. We are not responsible for their content or privacy practices</p> 
                   <h3 class="f_22 mb_20" id="part7">Changes to This Policy</h3> 
                   <p class="f_16 mb_40">We may update this policy occasionally. Any changes will be posted on this page with an updated effective date.</p>
                    <h3 class="f_22 mb_20" id="part8">Contact Us</h3> 
                    <p class="f_16 mb_50">For questions or requests related to your privacy, please contact us at: [Insert Contact Email]</p>
                         
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% if (device.isMobile) { %>
    <div class="header t_cen f_18 mb_40">
        <h2 class="f_32">Privacy<span class="c_red"> Policy</span></h2>
        Your privacy, our priority
      </div>
    <div class="content w_300 ml_50" >
        <h3 class="f_22 mb_20" id="part1">Effective Date: [Insert Date]</h3>
        <p class="f_16 mb_40">We value your privacy and are committed to protecting your personal information.
           This Privacy Policy explains how we collect, use, and safeguard your data when you interact with our 
           website 
        </p>
        <h3 class="f_22 mb_20" id="part2">Information We Collect</h3>
          <li>Personal details (e.g., name, email) you provide</li>
          <li>Usage data (e.g., browser type, pages visited)</li>
          <li class="mb_40">Cookies and tracking technologies</li>
          <h3 class="f_22 mb_20" id="part3">How We Use Your Information</h3> 
          <li>To provide and improve our services</li> 
          <li>To respond to inquiries or support requests</li> 
          <li class="mb_40">To send updates or marketing communications (with your consent)</li> 
          <h3 class=" f_22 mb_20" id="part4">Data Protection</h3> 
              <p class="f_16 mb_40">We implement appropriate security measures to protect your information from unauthorized access, alteration, disclosure, or destruction.
              </p> 
               <h3 class="f_22 mb_20" id="part5">Your Choices</h3>
               <p class="f_16 mb_40">You can opt out of communications, request access to your data, or ask us to delete it at any time.</p> 
                  <h3 class="f_22 mb_20" id="part6">Third-Party Links</h3>
                  <p class="f_16 mb_40">Our site may contain links to external websites. We are not responsible for their content or privacy practices</p> 
                 <h3 class="f_22 mb_20" id="part7">Changes to This Policy</h3> 
                 <p class="f_16 mb_40">We may update this policy occasionally. Any changes will be posted on this page with an updated effective date.</p>
                  <h3 class="f_22 mb_20" id="part8">Contact Us</h3> 
                  <p class="f_16 mb_50">For questions or requests related to your privacy, please contact us at: [Insert Contact Email]</p>
                       
      </div>
      <% } %>