<!-- <div class="d_flex f_ai_c f_jc_c">
  <div class="step d_flex f_d_c f_ai_c p_rel f_1">
    <div class="circle w_24 h_24 b_r50 c_e0e0e0 d_flex f_jc_c f_ai_c f_12 roboto_bold c_333 z_ind">1</div>
    <div class="line p_abs h_2 w_100 c_e0e0e0 p-top_lef z_ind_0"></div>
    <div class="label mt_8 f_14 roboto_bold">Home</div>
  </div>
  <div class="step d_flex f_d_c f_ai_c p_rel f_1">
    <div class="circle w_24 h_24 b_r50 c_e0e0e0 d_flex f_jc_c f_ai_c f_12 roboto_bold c_333 z_ind">2</div>
    <div class="line p_abs h_2 w_100 c_e0e0e0 p-top_lef z_ind_0"></div>
    <div class="label mt_8 f_14 roboto_bold">Courses</div>
  </div>
  <div class="step d_flex f_d_c f_ai_c p_rel f_1">
    <div class="circle w_24 h_24 b_r50 c_e0e0e0 d_flex f_jc_c f_ai_c f_12 roboto_bold c_333 z_ind p_abs p-top_lef"></div>
    <div class="label mt_8 f_14 roboto_bold"></div>
  </div> 
  
</div>-->


  <div class="course-container d_flex f_jc_c f_ai_c bc_fbfbfb f_g40 m_l_auto mb_50">
<div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
  <img src="/images/405d66a1eaf80f575ebd9a18ebfd2222a7c8b20d.png" class="w_100 h_180">
  <div class="card-content p_20">
    <div class="card-little f_24 mb_10">Graphic Design</div>
    <div class="card-text c_666 f_16 mb_15">Design your future-one pixel at a time </div>
    <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
  </div>
  <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
    <span class="roboto_bold c_black">$0</span>
    <a href="#" class="arrow f_24 ">&#8594;</a>
  </div>
</div>
<div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
  <img src="/images/9f7d4158840489782dd4beafc63e1a54a5b8a7be.png" class="w_100 h_180">
  <div class="card-content p_20">
    <div class="card-little f_24 mb_10">Web Design</div>
    <div class="card-text c_666 f_16 mb_15">Designs that click, code that sticks — always slick!</div>
    <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
  </div>
  <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
    <span class="roboto_bold c_black">$0</span>
    <a href="#" class="arrow f_24 ">&#8594;</a>
  </div>
</div>
<div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
  <img src="/images/66cfa4cf395de9da4dd7debefb346d5c441f5cac.png" class="w_100 h_180">
  <div class="card-content p_20">
    <div class="card-little f_24 mb_10">UI Development</div>
    <div class="card-text c_666 f_16 mb_15">Design meets function — seamless UI, every time. </div>
    <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
  </div>
  <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
    <span class="roboto_bold c_black">$0</span>
    <a href="#" class="arrow f_24 ">&#8594;</a>
  </div>
</div>
</div>
<!---second line-->
  
<div class="course-container d_flex f_jc_c f_ai_c bc_fbfbfb f_g40 m_l_auto mb_50">
  <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
    <img src="/images/405d66a1eaf80f575ebd9a18ebfd2222a7c8b20d.png" class="w_100 h_180">
    <div class="card-content p_20">
      <div class="card-little f_24 mb_10">Graphic Design</div>
      <div class="card-text c_666 f_16 mb_15">Design your future-one pixel at a time </div>
      <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
    </div>
    <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
      <span class="roboto_bold c_black">$0</span>
      <a href="#" class="arrow f_24 ">&#8594;</a>
    </div>
  </div>
  <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc ">
    <img src="/images/9f7d4158840489782dd4beafc63e1a54a5b8a7be.png" class="w_100 h_180">
    <div class="card-content p_20">
      <div class="card-little f_24 mb_10">Web Design</div>
      <div class="card-text c_666 f_16 mb_15">Designs that click, code that sticks — always slick!</div>
      <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
    </div>
    <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
      <span class="roboto_bold c_black">$0</span>
      <a href="#" class="arrow f_24 ">&#8594;</a>
    </div>
  </div>
  <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc ">
    <img src="/images/66cfa4cf395de9da4dd7debefb346d5c441f5cac.png" class="w_100 h_180">
    <div class="card-content p_20">
      <div class="card-little f_24 mb_10">UI Development</div>
      <div class="card-text c_666 f_16 mb_15">Design meets function — seamless UI, every time. </div>
      <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
    </div>
    <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
      <span class="roboto_bold c_black">$0</span>
      <a href="#" class="arrow f_24 ">&#8594;</a>
    </div>
  </div>
  </div>
  
  <!---third line--> 

  <div class="course-container d_flex f_jc_c f_ai_c bc_fbfbfb f_g40 m_l_auto mb_50">
    <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
      <img src="/images/405d66a1eaf80f575ebd9a18ebfd2222a7c8b20d.png" class="w_100 h_180">
      <div class="card-content p_20">
        <div class="card-little f_24 mb_10">Graphic Design</div>
        <div class="card-text c_666 f_16 mb_15">Design your future-one pixel at a time </div>
        <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
      </div>
      <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
        <span class="roboto_bold c_black">$0</span>
        <a href="#" class="arrow f_24 ">&#8594;</a>
      </div>
    </div>
    <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
      <img src="/images/9f7d4158840489782dd4beafc63e1a54a5b8a7be.png" class="w_100 h_180">
      <div class="card-content p_20">
        <div class="card-little f_24 mb_10">Web Design</div>
        <div class="card-text c_666 f_16 mb_15">Designs that click, code that sticks — always slick!</div>
        <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
      </div>
      <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
        <span class="roboto_bold c_black">$0</span>
        <a href="#" class="arrow f_24 ">&#8594;</a>
      </div>
    </div>
    <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
      <img src="/images/66cfa4cf395de9da4dd7debefb346d5c441f5cac.png" class="w_100 h_180">
      <div class="card-content p_20">
        <div class="card-little f_24 mb_10">UI Development</div>
        <div class="card-text c_666 f_16 mb_15">Design meets function — seamless UI, every time. </div>
        <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
      </div>
      <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
        <span class="roboto_bold c_black">$0</span>
        <a href="#" class="arrow f_24 ">&#8594;</a>
      </div>
    </div>
    </div>
    
  <!---fourth line-->
    <div class="course-container d_flex f_jc_c f_ai_c bc_fbfbfb f_g40 m_l_auto mb_50">
      <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
        <img src="/images/405d66a1eaf80f575ebd9a18ebfd2222a7c8b20d.png" class="w_100 h_180">
        <div class="card-content p_20">
          <div class="card-little f_24 mb_10">Graphic Design</div>
          <div class="card-text c_666 f_16 mb_15">Design your future-one pixel at a time </div>
          <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
        </div>
        <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
          <span class="roboto_bold c_black">$0</span>
          <a href="#" class="arrow f_24 ">&#8594;</a>
        </div>
      </div>
      <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
        <img src="/images/9f7d4158840489782dd4beafc63e1a54a5b8a7be.png" class="w_100 h_180">
        <div class="card-content p_20">
          <div class="card-little f_24 mb_10">Web Design</div>
          <div class="card-text c_666 f_16 mb_15">Designs that click, code that sticks — always slick!</div>
          <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
        </div>
        <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
          <span class="roboto_bold c_black">$0</span>
          <a href="#" class="arrow f_24 ">&#8594;</a>
        </div>
      </div>
      <div class="card bc_c_white w_300 b_r12 fl_hid s_box_onl t_tra t_sc">
        <img src="/images/66cfa4cf395de9da4dd7debefb346d5c441f5cac.png" class="w_100 h_180">
        <div class="card-content p_20">
          <div class="card-little f_24 mb_10">UI Development</div>
          <div class="card-text c_666 f_16 mb_15">Design meets function — seamless UI, every time. </div>
          <span class=" c_666 f_16 mb_15">10 hours : 5 lecture</span>
      </div>
        <div class="card-footer d_flex f_jc_sb f_ai_c p_tb_lf b-top_eee">
          <span class="roboto_bold c_black">$0</span>
          <a href="#" class="arrow f_24 ">&#8594;</a>
        </div>
  </div>
</div>
      
<div class="discover t_cen mb_50"><button class=" bc_eee b_n p_tb24 b_r20 f_16 cur_p t_tra_bc">Discover More</button></div>
        