<div class="bc_f4f p_40">
<div class="mb_10">
  <a href="#" class="f_14 c_gray">Home / Courses / Graphic Design</a>
</div>
<div class=" m_tb_auto">
  <div class="header m_w_60 f_ai_c d_flex f_jc_sb mb_16">
    <h1 class="f_36 m_0">Graphic Design</h1>
    <div class="header-button d_flex f_g30">
      <button class="d_flex f_ai_c f_g10 f_16 b_n bac_tra cur_p"><img src="/images/ac4646a0f095f35a0b0d341cca8e84fbae35ff33.png" class="w_21 h_21">code</button>
      <button class=" b_n bac_tra f_16 cur_p">Video Tutorial</button>
    </div>
  </div>

<div class="content d_flex f_g30 mb_40">
    <div class="video-player fl_2 bc_c_white b_r12 h_450  d_flex f_jc_c f_ai_c p_rel">
        <div class="play-button w_60 h_60 c_dddddd b_r50 d_flex f_jc_c f_ai_c f_32 c_white">&#9658;</div>
    </div>
    <div class="course-list fl_1 d_flex f_d_c ml_20 f_g15">
        <div class="course-item bc_c_white p_lf_15 b_r12 f_18 d_flex f_ai_c f_g15 w_318 h_80px"><span class="bc_eee b_r50 p_tb10">1</span>Fundamental of Design</div>
        <div class="course-item bc_c_white p_lf_15 b_r12 f_18 d_flex f_ai_c f_g15 w_318 h_80px"><span class="bc_eee b_r50 p_tb10">2</span>TYPOGRAPHY of Design</div>
        <div class="course-item bc_c_white p_lf_15 b_r12 f_18 d_flex f_ai_c f_g15 w_318 h_80px"><span class="bc_eee b_r50 p_tb10">3</span>Layout & Composition of Design</div>
        <div class="course-item bc_c_white p_lf_15 b_r12 f_18 d_flex f_ai_c f_g15 w_318 h_80px"><span class="bc_eee b_r50 p_tb10">4</span>Branding & Identity</div>
        <div class="course-item bc_c_white p_lf_15 b_r12 f_18 d_flex f_ai_c f_g15 w_318 h_80px"><span class="bc_eee b_r50 p_tb10">5</span>Software & Practical Skills</div>
        
    </div>
</div>
</div>
<div class="m_w_60">
<div class="tabs d_flex f_ai_c b_b2 mb_20">
    <div class="tab active mr_20 pb_10 cur_p c_black roboto_bold p_rel aft ">Overview</div>
    <div class="tab mr_20 pb_10 cur_p  p_rel">Transcipts</div>
    <div class="tab mr_20 pb_10 cur_p p_rel">Notes</div>

    <div class="add-note m_l_auto bc_c_white b_n b_r20 mb_8 f_14 cur_p p_tb5">ADD NOTE</div>
</div>
<div class="content mb_40">
    <p class="f_16 l_30 mb_30">Welcome to the Graphic Design Masterclass! In this course, you’ll explore the principles of design, dive into software like Adobe Photoshop and Illustrator, and create projects that will build your professional portfolio.</p>
    <p class="f_16 l_30">Each week focuses on different skills — from typography and branding to layout and creative thinking. Let’s start your journey to becoming a top-tier designer!</p>
</div>
<div class="cards d_flex f_g20">
    <div class="card bc_c_white p_20 b_r12 fl_1 s_box_onl">
        <h3 class="f_23 mb_20 mt_20">Resources</h3>
        <p class="f_16 mb_40" >Design Example, Font Kits, <br> Branding Refrences</p>
    </div>
    <div class="card bc_c_white p_20 b_r12 fl_1 s_box_onl">
        <h3 class="f_23 mb_20 mt_20">Downloads</h3>
        <p class="f_16 mb_40">WEEK 1-Assets.zip</p>
    </div>
</div>
</div>
</div>
