<div class=" t_cen p_40 shadow-p m_0">
    <h1 class="mb_50 c_0a0a23 f_50 m_r_f26"><span class="gradient">Essential</span> Shadow snippets<br> <span class="gradient">for Developers</span></h1>
    <div class="grid d_grid grid_tem_col f_g100 f_jc_c  mb_90 shadow_res ">
        <div class="box shadow-1 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-2 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-3 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-4 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-5 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-6 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-7 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-8 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid "></div>
        <div class="box shadow-9 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
        <div class="box shadow-10 w_204 h_204 b_r10 bc_c_white p_lr60 shadow_wid"></div>
        <div class="box shadow-11 w_204 h_204 b_r10 bc_c_white p_lr60 shadow_wid"></div>
        <div class="box shadow-12 w_204 h_204 b_r10 bc_f9f9f9 p_lr60 shadow_wid"></div>
    </div>
    <!---<div class="discover t_cen d_in_block">
        <a href="#" class="b_n bc_FFFFFF99 c_black p_tb24 b_r6">Discover More</a>
    </div>--->
</div>