<div class=" t_cen p_40 m_0">
     
    <h1 class="mb_100">Box-Shadow Snippets</h1>
    <div class="grid d_grid grid_tem_col f_g100 f_jc_c p_lr60 mb_90">
        <% for (item of pageData?.cards) { %> 
            <a href="<%- item.link %>">
                <%-include('../../components/shadow-card/shadow-card', {data:item}) %>
            </a>
            <% } %>
    </div> 
</div>