<div class="header mb_30 mb_2_m">
    <!-- side Navigation -->
    <div class="header_side_nav" id="header_side_nav">
        <div class="side_nav">
            <ul>
                <li>
                    <div class="heading">Snippets</div>
                    <ul>
                        <li>
                            <a href="/button" class="d_flex f_ai_c">
                                <span class="arrow_left"></span> 
                                <label>Buttons</label>
                                <span class="badge m_l_auto">25</span> 
                            </a>
                        </li>
                        <li>
                            <a href="/shadow" class="d_flex f_ai_c">
                                <span class="arrow_left"></span> 
                                <label>Box-shadow</label>
                                <span class="badge m_l_auto">18</span> 
                            </a>
                        </li>
                        <li>
                            <a href="/forms_snippets" class="d_flex f_ai_c">
                                <span class="arrow_left"></span> 
                                <label>Radio Buttons</label>
                                <span class="badge m_l_auto">22</span> 
                            </a>
                        </li> 
                        <li>
                            <a href="/hamburger" class="d_flex f_ai_c">
                                <span class="arrow_left"></span> 
                                <label>Hamburgers</label>
                                <span class="badge m_l_auto">10</span> 
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="heading">Other</div>
                    <ul>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/privacy_policy">Privacy Policy</a></li>
                        <li><a href="/terms_condition">Term & Condition</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="nav_overlay" id="nav_overlay"></div>
    </div>
    <!-- Navigation -->
    <div class="nav_section">
        <div class="container">
            <div class="d_flex f_ai_c f_jc_sb h_140 p_rel">
                <!-- Left Section -->
                <div>
                    <!-- hanmburger logo -->
                    <div class="d_flex f_ai_c f_jc_c">
                        <div class="hamberger mr_34 cur_p" id="hamberger">
                            <img src="/images/menu.png" />
                        </div>
                        <!--<div class="search d_flex f_ai_c h_40 bc_fbfbfb b_r40 c_333 pr_16 pl_16">
                            <div class="w_240 mr_16"></div>
                            <div class="cur_p">
                                <i class="icon-search f_16"></i>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Center Section -->
                <div class="logo p_abs p_cen_top">
                    <a href="/"> <img src="/images/logo.png " /></a>
                </div>
                <!-- Right Section -->
                <!-- <div class="right_section d_flex f_ai_c f_jc_c"> -->
                <!-- Phone -->
                <!-- <div class="login_register d_flex mr_40 f_ai_c f_jc_c c_333">
                        <i class="icon-user-circle-o f_20 mr_10"></i>
                        + 91- 9999792113
                    </div>  -->
                <!-- Button -->
                <!-- <div class="d_flex f_ai_c pl_16 pr_16 f_14 bc_primary c_white cur_p h_30 b_r40">SIGN IN</div>
                </div> -->
            </div>
        </div>
    </div>
</div>