<div class="header mb_30">
    <!-- Top Bar -->
  <div class="p_tb16 b_b1_c">
    <div class="container">
      <div class="d_flex f_ai_c">
        <div class="phone">Phone : 9871839125</div>
        <div class="d_flex f_ai_c m_l_auto">
          <a href="#" class="d_flex f_ai_c f_jc_c w_22 h_30 f_16 c_9b9 c_h_primary"><i class="icon-facebook"></i></a>
          <a href="#" class="d_flex f_ai_c f_jc_c w_30 h_30 f_16 c_9b9 c_h_primary"><i class="icon-instagram"></i></a>
          <a href="#" class="d_flex f_ai_c f_jc_c w_30 h_30 f_16 c_9b9 c_h_primary"><i class="icon-youtube-play"></i></a>
          <a href="#" class="d_flex f_ai_c f_jc_c w_30 h_30 f_16 c_9b9 c_h_primary"><i class="icon-linkedin"></i></a>
          <a href="#" class="d_flex f_ai_c f_jc_c w_20 h_30 f_16 c_9b9 c_h_primary"><i class="icon-gplus"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation -->
    <div class="nav_section">
        <div class="container">
            <div class="d_flex f_ai_c  pt_12 pb_12 f_jc_sb">
                <!-- hanmburger logo -->
                <div class="d_flex f_ai_c f_jc_c">
                    <div class="hamberger d_flex f_ai_c f_jc_c mr_16 w_36 h_36 c_9b9 bc_h_primary b_r50 cur_p bc_eee c_black c_h_white">
                        <i class="icon-menu f_22"></i>
                    </div>
                    
                </div>
                <div class="logo">
                    <img src="images/logo.jpg" />
                </div>
                 <!-- Nav right section -->
                <div class="right_section d_flex f_ai_c f_jc_c m_l_auto">
                    <div class="nav">
                        <ul class="d_flex f_ai_c f_jc_c mr_20">
                            <li><a href="/" class="d_flex f_ai_c f_jc_c h_34 pr_14 pl_14 b_r16 bc_h_eee c_333">Home</a></li>
                            <li><a href="/" class="d_flex f_ai_c f_jc_c h_34 pr_14 pl_14 b_r16 bc_h_eee c_333">All Products</a></li>
                            <li><a href="/" class="d_flex f_ai_c f_jc_c h_34 pr_14 pl_14 b_r16 bc_h_eee c_333">Price calculator</a></li>
                            <li><a href="/" class="d_flex f_ai_c f_jc_c h_34 pr_14 pl_14 b_r16 bc_h_eee c_333">Print Now</a></li>
                            <li><a href="/" class="d_flex f_ai_c f_jc_c h_34 pr_14 pl_14 b_r16 bc_h_eee c_333">Bulk Order</a></li> 
                        </ul>
                    </div>
                    <div class="search d_flex f_ai_c f_jc_c mr_10 w_34 h_34 b_r50 cur_p bc_h_eee c_333">
                        <i class="icon-search f_16"></i>
                    </div>
                    <div class="login_register d_flex f_ai_c f_jc_c w_34 h_34 b_r50 cur_p bc_h_eee c_333">
                        <i class="icon-user-circle-o f_16"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
