<div class="header mb_30 mb_2_m">

    <!-- Navigation -->
    <div class="nav_section">
        <div class="container">
            <div class="d_flex f_ai_c f_jc_sb h_140 p_rel">
                <!-- Left Section -->
                <div>
                    <!-- hanmburger logo -->
                    <div class="d_flex f_ai_c f_jc_c ">
                        <div class="hamberger mr_34 cur_p">
                            <img src="/images/menu.png" />
                        </div>
                        <!--<div class="search d_flex f_ai_c h_40 bc_fbfbfb b_r40 c_333 pr_16 pl_16">
                            <div class="w_240 mr_16"></div>
                            <div class="cur_p">
                                <i class="icon-search f_16"></i>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Center Section -->
                <div class="logo p_abs p_cen_top" ><a href="/">
                        <img src="/images/logo.png "/></a>
                </div>
                <!-- Right Section -->
                <!-- <div class="right_section d_flex f_ai_c f_jc_c"> -->
                    <!-- Phone --> 
                    <!-- <div class="login_register d_flex mr_40 f_ai_c f_jc_c c_333">
                        <i class="icon-user-circle-o f_20 mr_10"></i>
                        + 91- 9999792113
                    </div>  -->
                    <!-- Button -->
                    <!-- <div class="d_flex f_ai_c pl_16 pr_16 f_14 bc_primary c_white cur_p h_30 b_r40">SIGN IN</div>
                </div> -->
            </div>
        </div>
    </div>
</div>

 
   

