<div class="bc_fbfbfb p_tb40 d_flex f_ai_c f_jc_c">
  <div class="bc_c_white p_tb40 w_100 m_w_900">
    <div class="f_14 mb_30 d_flex f_ai_c f_jc_e f_g15 c_gray">
      Don't have an account yet?
      <a href="#" class="b_b p_tb6 b_r20 c_333 m_l c_h_0072c6 c_h_white b_h_n t_d">Sign up</a>
    </div>
  <div class="d_flex f_jc_sb f_ai_c p_lf">
    <div class="left-content">
      <h2 class="mb_5 f_30 roboto_bold">Login or Sign in</h2>
      <p class="mb_30 f_14 c_gray">
        Enjoy login is a step closer to your goals!
      </p>
      <form class="mb_20">
        <label class="d_block mb_5 f_14">User ID</label>
        <input type="text"placeholder="Enter your id"class="mb_20 w_500 b_r6 p_12 f_ai_c b_b b_h_333"/>
        <div class="p_rel">
        <label class="d_block mb_5 f_14">Password</label>
        <input type="password" placeholder="8+ Character"class="mb_20 w_100 b_r6 p_12 f_ai_c b_b b_h_333"/>
        <i class="icon-linkedin f_20 p_abs p_top_rig t_tran_y cur_p c_333"></i>
      </div>
      </form>
      <div class="b_n p_tb24 b_cur b_r30 f_16 t_upper c_white bc_c_aaa mb_30 t_cen cur_p">Login</div>
    </div>
<div class="h_100 d_flex f_ai_c f_jc_c bc_c_white ">
  <div class="p_rel w_1 h_300 c_e0e0e0">
    <div class="p_abs p_cen_cen t_t f_14 bc_c_white p_12 b_r50 b_b d_flex f_jc_c f_ai_c c_gray">OR</div>
  </div>
  
</div>
    <div class="right-side  ">
      <div class="d_block f_jc_c mr_20">
      <div class="f_20 c_gray t_cen mb_20 ">Login with</div>
        <div class="social d_flex f_jc_c f_g15">
          <div class="search d_flex f_ai_c f_jc_c mr_10 w_46 h_46 b_r50 cur_p bc_c_0072c6 y c_white">
            <i class="icon-facebook f_40"></i>
        </div>
        
            <div class="login_register d_flex f_ai_c mr_10 f_jc_c w_46 h_46 b_r50 cur_p  bc_c_1DA1F2 c_white">
                <i class="icon-twitter f_36"></i>
            </div>
            <div class="login_register d_flex f_ai_c mr_10 f_jc_c w_46 h_46 b_r50 cur_p  bc_c_1DA1F2 c_white">
              <i class="icon-twitter f_36"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
  